/*BASE STYLE*/
  
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #558764;
    text-shadow: 3px 3px 1px black;
  }
  
  p {
    color: #334226;
    font-size: 20px;
    margin: 0;
    font-style: normal;
  }

  h2 {
    color: rgb(245, 214, 230);
    font-size: 25px;
    font-style: normal;
    line-height: 0%;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  body {
    background: #D3AC8B;
  }
  
 
/*HEADER STYLE*/
  
  .header-container {
    background: #E6C5AD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
  }
  
  .header-content {
    color: #334226;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 0;
  }

/*INTRO STYLE*/

  .intro-container {
    background-image: url(notepadbkgd.jpg);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
  }

  .intro-content {
    color:black;
  }

  
/*FOOTER STYLE*/
  .footer-container {
    background: #1b1b27;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
  }
  
  .footer-content {
    font-size: 13px;
    color: #334226;
    width: 100%;
    max-width: 1000px;
    text-align: center;
  }
  
  
/*BUTTON STYLE*/
.option-btn {
    /* Your existing styles for unselected buttons */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.option-btn.selected {
    /* Styles for selected buttons */
    background-color: #008CBA;
}

    button:hover {
    background-color: #9ea045;
  }

  
/*IMAGE STYLE*/
  
  .aboutme-photo {
    width: 100%;
    max-width: 320px;
  }
  
  
/*MEDIA STYLE*/
  
@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .projects-content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
    .main-nav {
      display: block;
    }
  
    .mobile-nav {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
    }
    
    .open .mobile-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    
    .mobile-nav li {
      margin-bottom: 10px;
    }

    @media only screen and (max-width: 600px) {
        header nav {
          display: none;
        }
      
        #hamburger-icon {
          display: block;
        }
      }
  
    ul#navigation {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
    }
  
    ul#navigation li a {
      color: #588764;
      font-family: "Cabin", sans-serif;
      padding: 6px 12px;
      border: solid 2px transparent;
      text-transform: uppercase;
    }
  
    ul#navigation li a:hover {
      color: #334226;
      font-family: "Cabin", sans-serif;
      padding: 6px 12px;
      border-bottom: solid 2px #74b44a;
    }
  }


/*-------------------FEATURES-------------------*/

/*QUIZ STYLE*/

.quiz-container {
    background-color: #588764;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
}

.options-container {
    margin-top: 20px;
}

.next-button {
    margin-top: 20px;
    cursor: pointer;
}


/*COUNTDOWN STYLE*/

.countdown-container {
  background-color: #334226;
  text-align: center;
  padding: 20px;
  margin: 0 auto;

}

.countdown-content {
  margin-bottom: 20px;
}

hr.double {
  border-top: 8px double #fff;
  width: 80%;
  margin: 0 auto;
}

#countdown-number {
  font-size: 24px;
  color: #fff;
}


/*BORED STYLE*/

.container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(0, 73, 75);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activity-container {
  margin-top: 20px;
  font-size: 18px;
  color: #daff76;
}

#get-activity-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}




/*CONTACT STYLE*/

.contactform-container {
    background-color: #588764;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}
